<!--div to hold the images for the burger-->
<div class="container">
   <marquee><img src="/assets/img/burger1.jpg" class="burgerPic"><img src="/assets/img/burger3.jpg" class="burgerPic"><img src="/assets/img/burger4.png" class="burgerPic"></marquee> 
    <h1 id="title">EAT-DA-Burger!</h1>
</div>
<div class="container">
    <div class="row">
        <!--div to hold the burger need to devour-->
        <div class="col-lg-4"><ol>
            {{#each burger}}
            {{#if devoured}}
            <div class='row'>
                <div class='col-lg-12'>
                    <li class='list'>
                        <p class='wait'>{{this.id}}. {{this.burger_name}}</p>
                        <button class='check' data-id="{{this.id}}">Devour it!</button>
                        </li>
                        </div>
                        </div>
            {{/if}}
            {{/each}}
        </ol>
        </div>
        <div class="col-lg-4"> 
       <!--create the form that accept the new burger and on submit make an entry in the database-->            
<form id="burger" style="text-align: center;">
    <textarea id="burgername" name="burgername">
    </textarea><br>
    <button type="submit"class="btn btn-primary" id="getData">submit</button>
</form>
<div class="row">
<div class="col-lg-12">
    <h6  style="text-align: center;font-weight: bold;">Enter a burger you want to eat Click the "Submit" button</h6>
</div>
</div>
    </div>
    <!--div for the burger that are devoured-->
<div class="col-lg-4"><ol>
     {{#each burger}}
            {{#unless devoured}}
            <div class='row'>
                <div class='col-lg-12'>
                    <li class='list'>
                        <p class='nowait'>{{this.id}}. {{this.burger_name}}</p>
                        </li>
                        </div>
                        </div>
            {{/unless}}
            {{/each}}
</ol></div>
</div>
</div>
